<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="">
    <clear />
    <add key="fecha" value="14/07/2018" />
    <add key="ConexionBD" value="Data Source=localhost\SQLSERVER2012;Initial Catalog=GD1C2018;Persist Security Info=True;User ID=gdHotel2018;Password=gd2018"/>
    <add key="userAdmin" value="admin"/>
    <add key="passAdmin" value="w23e"/>
    </appSettings>
</configuration>
